div.EktronRecommendationWrapper {width:30em;padding-bottom:.1em;margin:0 auto 1em auto;font-family:Arial, Helvetica, Tahoma, Verdana, sans-serif;}

div.EktronRecommendationWrapper .clearfix:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
div.EktronRecommendationWrapper .clearfix {display:inline-block;}

div.EktronRecommendationWrapper {border:1px solid silver;background-image:url('../../images/application/Commerce/background.gif');background-repeat:repeat;background-position:0px 0px;}


div.EktronRecommendationWrapper h3 
{
	margin:0;
	padding:5px;
	border-bottom:1px dotted silver;
	background-color: #ffffff;
	line-height:35px;
	background-position:0px 5px;
	background-repeat:no-repeat;
	text-align:left;
	font-weight:bold;
	font-size:1.5em;
}

div.recommendations{margin: 10px; border: solid 1px silver;background-color: #ffffff; padding: 10px;}

div.EktronRecommendationWrapper ul.Recommendation {list-style:none;margin:0;padding:0;}
div.EktronRecommendationWrapper ul.Recommendation li {width:auto;display:block;margin:0em 0em 1em 1em;padding:1em;background-color:white;border:1px solid silver; vertical-align:middle;}

div.EktronRecommendationWrapper ul.Recommendation li a
{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}
div.EktronRecommendationWrapper ul.Recommendation li * {vertical-align:middle;}

div.EktronRecommendationWrapper ul.Recommendation li .imageColumn
{
	float: left;
}

div.EktronRecommendationWrapper ul.Recommendation li .titleColumn
{
	float: left;
	margin-top: 15px;
	width: 150px;
}

div.EktronRecommendationWrapper ul.Recommendation li .priceColumn
{
	float: right;
}

div.EktronRecommendationWrapper ul.Recommendation li .addToCartButton {text-align: right; clear: both;}

div.EktronRecommendationWrapper ul.Recommendation li .addToCartButton a {text-align: right; margin-right: 0;}
