/* XP Style  Menu */
.menuRootItem, .menuRootItemSelected, .menuRootItemClicked
{
	cursor: default;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: smaller;
}

.MenuRootItem
{
	
}

.menuRootItemClicked
{
	
	border: solid 1px #8a867a;
	border-bottom: none;
}

.menuRootItemSelected
{
	cursor: default;
	
	border: 1px solid #316ac5;	
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.Menu
{
background-image: url(../images/menu/xp_bg2.gif);
background-repeat: repeat-x;
background-repeat: repeat-y;

border: 1px solid #aca899;
width: 200px;
margin:1px;
position:absolute;
z-index:50;
cursor:default;
/*filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=6);*/
}

.MenuItem, .MenuItemOver, .MenuItemOut, .MenuItemSubMenu, .MenuIcon, .MenuItemSubMenuOut, .MenuItemSubMenuOver
{
position:relative;
margin-left: 1px;
margin-top: 2px;
margin-right: 1px;
margin-bottom: 0px;

font-family: "ms sans serif";
font-size: xx-small;
height: 15px;
display:block;
padding-top: 3px;
padding-bottom: 4px;
padding-left: 0px;
vertical-align:middle;
font-size: xx-small;
}

.MenuItemSubMenu, .MenuItemSubMenuOut, .MenuItemSubMenuOver
{
	background-image: url(../../images/application/menu/arrow.gif);
	background-repeat: no-repeat;
	background-position : right;
}

.MenuIcon
{
	padding-left: 3px;
	float:left;
}

.MenuItemOut
{
padding-top: 3px;
padding-bottom: 4px;
margin-left: 1px;
margin-top: 2px;
margin-right: 1px;
margin-bottom: 0px;
border: none;
}

.MenuItemOver, .MenuItemSubMenuOver
{
padding-top: 4px;
padding-bottom: 3px;
margin: 0px;
border: solid 1px #316ac5;
background:#c1d2ee;
color: #000;
background-image: url(../images/menu/xp_bg-hover.gif);
background-repeat: repeat-y;
}

.MenuItemBreak
{
/*
margin-top:3px;
margin-bottom:3px;
*/
margin-left:27px;
margin-right:0px;
border:1px solid #c5c2b8;
height:1px;
overflow:hidden;
text-align:center;
}



/*

W2K Style  Menu

.Menu
{
border: 1px solid #aca899;
width: 150px;
margin:1px;
position:absolute;
z-index:50;
background:#fff;
cursor:default;
filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=6)
}

.MenuItem, .MenuItemOver, .MenuItemOut, .MenuItemSubMenu
{
position:relative;
border: 1px solid #fff;
font-family: ms sans serif;
font-size: xx-small;
height: 15px;
background:#fff;
display:block;
padding-top: 2px;
padding-bottom: 2px;
margin-top: 0px;
padding-left: 15px;
vertical-align:middle;
}

.MenuItemOut
{
border: 1px solid #fff;
background:#fff;
}

.MenuItemOver
{
background:#316ac5;
color: #fff;
}

.MenuItemBreak
{
margin-left:5px;
margin-right:5px;
margin-top:3px;
margin-bottom:3px;
border:1px solid #aca899;
height:1px;
overflow:hidden;
text-align:center;
}

*/