<?xml version="1.0" encoding="utf-8"?>
<DocumentManagerData StorageLocation="c:\assetlibrary\vulcanmarrinercom\"
    WebShareDir="/dmdata/" DomainName="vulcan.marriner.com" InstalledVersion="2.01"
    FileTypes="*.doc,*.xls,*.ppt,*.pdf,*.gif,*.jpg,*.jpeg,*.log,*.vsd,*.dot,*.zip,*.swf,*.wma,*.wav,*.avi, *.mp3, *.mp4, *.rm, *.wmv, *.ra, *.mov, *.odb, *.odt, *.odf, *.odp, *.odg, *.ods, *.png,*.docx,*.xlsx,*.pptx, *.vsdx, *.wmf, *.xml, *.htm, *.html, *.flv"
    UserDomain="517400-WEB1" PdfGenerator="http://aspnet20.ektron.com/PdfManager/PdfGeneratorService.asmx"
    LoadBalanced="0" ServicePort="6079" PublishCatalogName="VulcanPublish"
    PrivateCatalogName="VulcanPrivate" PublishCatalogLoc="C:\Program Files (x86)\Ektron\Catalogs\VulcanPublishCat"
    PrivateCatalogLoc="C:\Program Files (x86)\Ektron\Catalogs\VulcanPrivateCat" />
