.ektableutil { width: 100%; }
#tblProductItems { width: 100%; }
.item_header { background-color: #d8e6ff; text-align:left; }
.itemrow0 { background-color: #d8e6ff; }
.itemrow1 { background-color: white; }