.wizardStep
{
	border:1px solid #BBDDF6;
	background-color:#e7f0f7;
	margin: .5em;
	padding: .5em;
	display: none;
}

.wizardStep p {margin: 0;}

#wizardStep1
{
	display:block;
}

td#stepsCaption
{
	padding: .25em .25em .25em .5em;
}

table#stepsGraphicsTable
{
	margin: .25em 1em;
	padding: 0;
	border-collapse: collapse;
	background-color: #666666;
}

table#stepsGraphicsTable td
{
	padding: .25em 0;
	width: 2em;	
	font-size: .9em;
	text-align: center;
}

table#stepsGraphicsTable .stepVisited {background: #bbb; color: #666;}
table#stepsGraphicsTable .stepCurrent {background-color: #ffd492; color: #555555;}

.ektronToolbar table#stepsTable {margin: .25em 0;}
.ektronToolbar table#stepsTable a.button {font-size: .9em; height: auto; margin: auto; width: auto; background-position: .25em center;}
a.ruleBack {background-color: #eaeaea; border: solid 1px #aaa; background-image: url('../../images/ui/icons/arrowHeadLeft.png');}
a.ruleNext {background-color: #eaeaea; border: solid 1px #aaa; background-image: url('../../images/ui/icons/arrowHeadRight.png');}
.ektronToolbar table#stepsTable a.ruleNext {background-position: right center;}
a.ruleDone {background-color: #eaeaea; border: solid 1px #aaa; background-image: url('../../images/ui/icons/save.png');}
a.ruleCancel {background-color: #eaeaea; border: solid 1px #aaa; background-image: url('../../images/ui/icons/cancel.png');}

#stepDescription {padding: .5em}
