body {background-color:white;}
a {text-decoration:none;color:#000000 !important;}
a:hover {text-decoration:underline !important;}
a.catalogFolder {color:#295ab5 !important;}
a.catalogFolder:hover {text-decoration:underline !important;}
p.currentFolder {margin:1em 1em 0em 1em;font-weight:bold;color:#676767;}

table#Table6 {display:none;}

table#gvFolders,
table#gvProducts {margin:1em;border-collapse:collapse;}
table#gvFolders {margin-bottom:0}
table#gvProducts {margin-top:0;}

table#gvFolders,
table#gvProducts,
table#gvFolders tr,
table#gvProducts tr,
table#gvFolders td,
table#gvProducts td {border:1px solid white;}
