div.couponProperties {position:relative;zoom:1;}
div.couponProperties a.help {top:3px;}
.ektron .coupon .TabControls {zoom:1;}
div.couponProperties div.actions {position:relative;top:-2px;}
table.confirmCancel tbody td p.warning {background-position:4px 13px;}
table.confirmDeleteCoupon tbody td p.warning {background-position:4px 13px;}
table.confirmSave tbody td p.warning {background-position:4px 13px;}