div.scope table tbody td.label {width:20em;}
div.ektronCouponsScopeModalDatePicker .clearfix {display:inline-block;}
div.ektronCouponsScopeModalDatePicker table table thead tr th 
{
	background-color:white;
	border:none;
	font-size:12px;
	font-weight:normal;
	background-image:none;
	line-height:1;
	text-align:center;}