.ektronMicroMessagingBookmarklet a.shareThisLink
{
    display: inline-block;
    padding: .25em .5em;
    cursor: pointer;
    text-decoration: none;
    color: #8f8f8f;
    line-height: 1.5em;
    background-color: #f5f5f5; 
    border: 1px solid #aaa; 
    border-top: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    margin: 0 .5em 0 0;
    float: left;
}

.ektronMicroMessagingBookmarklet a span.ui-icon-shareThisIcon
{
    display: block;
    width: 1.6em;
    height: 1.6em;
    overflow: hidden;
    text-indent: -10000px;
    background: transparent url(../images/ui/icons/link.png) no-repeat center center;
    float: left;
    margin-right: .25em;
}
        
.ektronMicroMessagingBookmarklet a.blueHover:hover 
{
    background-color:#dff4ff !important; 
    border: 1px solid #c2e1ef !important; 
    color:#336699 !important;
}